.grid-box {
    display: grid;
    row-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: #2196f3;
    padding: 15px;
}

/* this is for grid inner style*/

.grid-box {
    display: grid;
    column-gap: 40px;
    grid-template-columns: auto auto auto;
    background-color: #90caf9;
    padding: 15px;
}

/* this is for grid inner style when hovering*/

.grid-cell {
    background-color: #0d47a1;
    border: 1px solid #000000cc;
    padding: 25px;
    font-size: 28px;
    text-align: center;
}

/* this is for the text inside*/